.hero-section {
	background-color: hsl(222 100% 95%);
	box-shadow: 0 8px 60px hsl(0 0% 0% / 0.75);
	width: min(80%, 550px);
	padding: 1em;
	margin: 2em auto 0;
	transition: all 200ms ease-out;
}
.hero-section *::selection {
	background-color: transparent;
}
:where(.hero-section *) {
	cursor: default;
}
.hero-section:hover {
	transform: scale(1.05);
	box-shadow: 0 8px 60px hsl(0 0% 0%);
}
.br-primary {
	border-radius: 22px;
}

.paragraph {
	opacity: 0;
	transform: translateY(100%);
	transition: transform 200ms ease-out, opacity 80ms ease-out;
}

.paragraph.show {
	visibility: visible;
	transform: translateY(0%);
	opacity: 1;
}

.clr-white {
	color: #fff;
}
.word-break {
	width: min(90%, 600px);
	word-wrap: break-word;
}
