/* Css Reset File */

/* Place These Fonts in Your html head Section */

/* ====================

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

 ==================== */

:root {
	--reset-anchor-clr: #000;
	--reset-input-outline: rgba(148, 193, 255, 0.87);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Google Sans', sans-serif;
}

:where(body) {
	margin: 0;
	background-color: rgb(65, 65, 65);
	-webkit-tap-highlight-color: transparent;
	height: 222vh;
}

:where(h1, h2, h3, h4, h5, h6, p) {
	margin-top: 0;
	line-height: 1.3;
	font-weight: 500;
}

:where(a) {
	text-decoration: none;
	color: var(--reset-anchor-clr);
	display: inline-block;
	font-size: 1.1rem;
}

:where(img) {
	max-width: 100%;
}

:where(button) {
	border: none;
	font-size: 1rem;
	padding: 0.5em 1em;
}
button {
	cursor: pointer;
}
:where(ul) {
	list-style: none;
	padding: 0;
	margin: 0;
}

:where(input) {
	border: none;
	outline: 1px solid var(--reset-input-outline);
	font-size: 1.15rem;
	padding: 0.5em 0.8em;
	border-radius: 8px;
}

:where(input:focus-visible) {
	outline: 1px solid var(--reset-input-outline);
}

:where(:focus) {
	outline: none;
}

@media (prefers-reduced-motion) {
	*,
	*::before,
	*::after {
		transition-delay: 0ms !important;
		transition-duration: 20ms !important;
	}
}
